<div class="container-fluid">
  <div class="row">
    <div class="row bb-page-content-multicolumn" bb-layout="layout" bb-tiles="tiles">
      <div class="col-md-4 bb-page-content-tile-column">
        <bb-tile bb-tile-header="'Foundation Management'">
          <div bb-tile-section class="bb-tile-content-section">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Last Run</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in products">
                  <td><a href="">{{product.name}}</a></td>
                  <td ng-if="product.status == 'Failed'"style="color:#ef6977">{{product.status}}</td>
                  <td ng-if="product.status == 'Passed'"style="color:#1dc8a6">{{product.status}}</td>
                  <td>{{product.lastUpdated | date: 'medium'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </bb-tile>
      </div>
      <div class="col-md-4 bb-page-content-tile-column"
           ng-if="outcomes.currentFailedSteps.length > 0"
           ng-repeat="step in outcomes.currentFailedSteps">
        <bb-tile bb-tile-header="'Outstanding Bug'">
          <div bb-tile-section class="bb-tile-content-section">
            <h4>{{step.description}}</h4>
            {{step.notes}}
          </div>
        </bb-tile>
      </div>
    </div>
  </div>
</div>