<div class="container-fluid">
  <div class="row">
    <div class="row bb-page-content-multicolumn" bb-layout="layout" bb-tiles="tiles">
      
      <div class="col-md-4 bb-page-content-tile-column">
        <bb-tile bb-tile-header="'Foundation Management'">
          <div bb-tile-section class="bb-tile-content-section">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Last Run</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in products">
                  <td><a href="">{{product.name}}</a></td>
                  <td ng-if="product.status == 'Failed'"style="color:#ef6977">{{product.status}}</td>
                  <td ng-if="product.status == 'Passed'"style="color:#1dc8a6">{{product.status}}</td>
                  <td>{{product.lastUpdated | date: 'medium'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </bb-tile>
      </div>
      
      <div class="col-md-8 bb-page-content-tile-column">
        <bb-tile bb-tile-header="'Outcomes'">
          <div bb-tile-section class="bb-tile-content-section">
            <div class="row" style="margin-bottom: 15px;">
              <div class="col-md-6">
                <button class="btn bb-btn-secondary"
                        ng-disabled="selectedItems.length == 0"
                        ng-click="changeState(selectedItems, 'Pass')">Pass</button>
                <button class="btn bb-btn-secondary"
                        ng-disabled="selectedItems.length == 0"
                        ng-click="changeState(selectedItems, 'Fail')">Fail</button>
                <button class="btn bb-btn-secondary"
                        ng-disabled="selectedItems.length == 0"
                        ng-click="changeState(selectedItems, '')">Reset</button>
              </div>
            </div>
            
            <bb-checklist
              bb-checklist-items="outcomes.steps"
              bb-checklist-selected-items="selectedItems">
              <bb-checklist-columns>
                <bb-checklist-column
                   bb-checklist-column-caption="'Steps'"
                   bb-checklist-column-field="'description'"
                   bb-checklist-column-width="'70%'">
                </bb-checklist-column>
                <bb-checklist-column
                   bb-checklist-column-caption="'State'"
                   bb-checklist-column-field="'state'"
                   bb-checklist-column-width="'30%'">
                </bb-checklist-column>
              </bb-checklist-columns>
            </bb-checklist>

            <button class="btn btn-primary" ng-click="submit()">Submit</button>
          </div>
        </bb-tile>
      </div>
    </div>
  </div>
</div>

<!--submission modal-->

<script type="text/ng-template" id="demo/modal/modalform.html">
  <bb-modal>
    <div class="modal-form">
      <bb-modal-header bb-modal-help-key="'bb-security-users.html'">
        Report Summary - 
        <span ng-if="modalCtrl.allPassed()" style="color:#1dc8a6">Pass</span>
        <span ng-if="!modalCtrl.allPassed()" style="color:#ef6977">Fail</span>
      </bb-modal-header>
      <div bb-modal-body>
        <form>
          <div class="form-group">
            <bb-alert bb-alert-type="{{modalCtrl.alertStatus}}">
              {{modalCtrl.passCount}} / {{modalCtrl.testCount}} tests are passing.
            </bb-alert>

            <div ng-if="modalCtrl.data.failedSteps.length > 0"
                 ng-repeat="step in modalCtrl.data.failedSteps">
              <h4>Step {{step.order}} - {{step.description}}</h4>
              <textarea class="form-control" ng-model="step.notes" />
            </div>
          </div>
        </form>
      </div>
      <bb-modal-footer>
        <bb-modal-footer-button-primary ng-click="modalCtrl.save()">Confirm</bb-modal-footer-button-primary>
        <bb-modal-footer-button-cancel></bb-modal-footer-button-cancel>
      </bb-modal-footer>
    </div>
  </bb-modal>
</script>